@{
    ViewBag.Title = "About";
}

<h3>O id é: @ViewBag.Id </h3>

<hr />

<h3>E a mensagem é: @ViewBag.Mensagem</h3>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
